body {
    background-color: #333;
}

.map {
    position: relative;
    margin: 0 auto;
    width: 747px;
    height: 616px;
    background-image: url(../img/map.png);
}

.city:first-of-type {
    position: absolute;
    top: 228px;
    right: 192px;
}

.city:nth-of-type(2) {
    position: absolute;
    top: 542px;
    right: 192px;
}

.city:nth-of-type(3) {
    position: absolute;
    top: 500px;
    right: 85px;
}

.dotted {
    width: 8px;
    height: 8px;
    background-color: #09f;
    border-radius: 50%;
}

div[class^="paulse"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 8px;
    height: 8px;
    box-shadow: 0 0 12px #009dfd;
    border-radius: 50%;
    animation: pause 1.2s linear infinite forwards;
}

.map .city .paulse2 {
    animation-delay: 0.4s;
}

.map .city .paulse3 {
    animation-delay: 0.8s;
}

@keyframes pause {
    50% {
        width: 40px;
        height: 40px;
        opacity: 1;
    }

    100% {
        width: 70px;
        height: 70px;
        opacity: 0;
    }
}